.Footer{
    display: flex;
    flex-direction: column;
}
.FooterFirstPart{
    font-family: "montserrat-Medium";
    color: black;
    display: flex;
}
.FooterFirstParimg1{
    width: 170px;
    filter: invert(1);

}
.FooterFirstPar1{
    width: 50%;
opacity: 1;
top: 7615px;
left: 88px;
}

.FooterFirstPartPra1{
    font-size: 16px;
    line-height: 17px   ;    
    margin-top: 0px;
height: 120px;

}