a {
  text-decoration: none;
}a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: inherit;
}


.Footer{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 60px;
}
.FooterFirstPart{
    font-family: "montserrat-Medium";
    color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.FooterFirstParimg1{
    width: 170px;
    filter: invert(1);

}
.FooterFirstPar1{
    width: 45%;
        max-width: 464px;

opacity: 1;
top: 7615px;
left: 88px;
}

.FooterFirstPartPra1{
    font-size: 16px;
    line-height: 22px   ;    
    margin-top: 0px;
/* width: 90%; */

}
.FooterFirstPart2{
    width: max-content;
}
.FooterFirstPart2Head{
    font-family: "montserrat-bold";
font-weight: 700;
padding: 20px 0px;
font-size: 18px;
line-height: 32px;
color: #293868;


}
.FooterFirstPart2ListDiv{
    display: flex;
    /* gap: 20px; */
}
.FooterFirstPart2ListStyle>ul{
    padding-left:30px ;
    margin-right: 20px;
}.FooterFirstPart2ListStyle2>ul{
    margin-left:0px ;
    margin-right: 10px;
}
.FooterFirstPart2ListStyle2>ul{
    margin-left:0px ;
    margin-right: 10px;
}


.FooterFirstPart2ListStyle , .FooterFirstPart2ListStyle2{
    font-family: "montserrat-Medium";
    list-style: url("./footerImg//fast-forward\ \(6\)\ 1.png");

font-weight: 400;
font-size: 15px;
line-height: 32px;
letter-spacing: 0%;

}
.FooterFirstPart3ImgCounter{
    display: flex;
    width:max-content ;
    gap: 12px;
}
.FooterFirstPart3>h6{
    font-family: "montserrat-bold";
font-weight: 700;
font-size: 18px;
padding: 20px 0px;
/* margin-top: 20px; */
line-height: 32px;
color: #293868;

}
.FooterFirstPart3ImgCounter>img{
width: 33px;
height: 33px;
opacity: 1;
top: 7546px;
left: 1147px;
}

.FooterSecoundPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.FooterSecoundPart>h5{
    font-family: "montserrat-bold";
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
color: #293868;
margin-bottom: 20px;
}
.FooterSecoundPart>p{
    font-family: "montserrat-Medium";
font-weight: 500;
font-style: Medium;
font-size: 15px;
line-height: 17px;
letter-spacing: 0%;
text-align: center;

}
.FooterThirdcontiner{

    background-color: #798AC1;
}

.FooterThirdPart{
    display: flex;
    align-items: center;
    justify-content: space-between   ;
    height: 58px;
    /* width: 100vw; */
   opacity: 1;
    top: 7934px;

}
.FooterThirdPart>div{
font-family: "montserrat-Medium";
font-size: 13px;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
}  
.underline{
    text-decoration: underline;
    cursor: pointer;
    text-decoration-style: solid;


} 
.FooterFirstPart2ListStyle2{
    margin-left: 30px;
}
@media (max-width:991px){
    .FooterFirstPar1{
        width: 40%;
    }
    .FooterFirstPart2{
        width: max-content;
    }

    .FooterFirstPartPra1{
        font-size: 15px;

    }
    .FooterFirstPart2Head{
        width: 100%;
        text-align: start;
        margin-left: 7%;

    }
    .FooterFirstPart2ListStyle2{
        font-size: 15px;
                 /* margin: 0px auto; */

    }
    .FooterFirstPart2ListDiv{
        display: flex;
        flex-direction: column;
    }

}









@media (max-width:767px){
    .FooterFirstPart{
        flex-direction: column;
        /* justify-content: center; */
        gap: 20px;
    }
    .FooterFirstPar1{
        width: 100%;
        height: max-content;
        display: flex;
        max-width:  none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .FooterFirstPartPra1{
        display: flex;
        text-align: center;
        align-content: center;
    }
    .FooterFirstPart2{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
        .FooterFirstPart2Head{
            text-align: center;
            margin-left: 0px;
        }
    .FooterFirstPart2ListDiv{
        flex-direction: row;
    }
    .FooterFirstPart2ListStyle{
        margin-right: 20px;
    }
    .FooterFirstPart2ListStyle2{
        margin-left: 20px;
    }
    .FooterFirstPart3{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items:center ;
        align-content: center;
    }
    .FooterFirstPart3>h6{
        text-align: center;
        width: 100%;
        /* margin-left: 4%; */
    }
    .FooterFirstPart3ImgCounter
    {  width: 100%;justify-content: center;

    }
    .FooterThirdPart{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 6px 0px;
    }
    .FooterFirstPart3>div{
        
        font-size: 13px;
    }
}
@media (max-width:438px) {
    .FooterFirstPartPra1{
       font-size: 14px;

    }
    .FooterFirstPart2ListStyle ,.FooterFirstPart2ListStyle2{
        font-size: 13px;
    }
    .FooterSecoundPart>p{
        font-size: 13px;
    }
    .FooterThirdPart>div{
        font-size: 14px;
    }
    
}
@media (max-width:408px) {
    .FooterFirstPart2ListStyle{
        line-height: 22px;
        /* margin:0px 0px; */
      margin-right: 20px;
    }
    .FooterFirstPart2ListStyle>ul>li{
        margin: 12px 0px;
    }
    .FooterFirstPart2ListStyle2{
        margin-left: 20px;
                line-height: 22px;

    }
        .FooterFirstPart2ListStyle2>ul>li{
        margin: 12px 0px;
    }

}

.FooterFirstPart2ListStyle>ul>li:hover{
   font-weight: bolder;
    color: #293868;
}.FooterFirstPart2ListStyle2>ul>li:hover{
    font-weight: bolder;
    color: #293868;
}
