.priceListContiner>h1{
    font-family:"montserrat-Bold";
font-weight: 700;
font-size: 35px;
color: #FF8C27;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
margin: 22px 12px;
text-decoration: underline;
text-decoration-color:#FF8C27 ;
text-underline-offset: 5px;
margin-bottom: 50px;

}
.priceListMainContiner{
    margin: 120px 0px;
}
.TableDiffColor{
    background-color: #DEE6FF !important;
    box-shadow: unset !important;

}

.tableBtn{
    width: 157px;
height: 50px;
border-radius: 50px;
background: #FF8C27;
font-family: "montserrat-Medium";
font-weight: 500;
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
border: none;

}
.PriceListTableBody>tr>td{
    font-family: "montserrat-SemiBold";
font-weight: 600;
font-size: 15px;
line-height: 32px;
letter-spacing: 0%;

}
.PriceListTableHead>tr>th{
    background: #282828;
font-family: "montserrat-SemiBold";
font-weight: 600;
font-size: 15px;
line-height: 32px;
letter-spacing: 0%;
color: white;

}
.table{
    border:black .5px solid;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}


table th,
table td {
  padding: .625em;
  text-align: left;
}

@media screen and (max-width: 767px) {
  table {
    border: 0;
  }
  
  table thead{
    border: none; 
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }


  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-family: "Montserrat-Bold";
    font-weight: bolder;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.tableBtn:hover{
  background-color: #ddd;
  border: .7px black solid;
}
