.enquiery{
    background-color: #1C2647;
    border-radius: 0% 36%;
    height: 100vh

;
}
.mainEnquiryDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.emtyDivEnquiry{
    width: 50%;
}


.test{
    display: flex;
    width: 50%;
    color: white;
     justify-content: space-around;
     padding-top:5rem ;
     height: 100%;
}
.enquireForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
.enquireForm>h1{
    
  font-family: "montserrat-Bold";
  font-weight: 700;
  font-size: 35px;
  color: #FFFFFF;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin: 22px 12px;
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
  text-underline-offset: 12px;
}

.enquireForm>p{
    font-family: "montserrat-Medium";
font-weight: 500;
font-size: 22px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 4rem;

}
.enquireForm>input{
    width: 100%;
    text-transform: uppercase;
    padding: 10px;
    font-family: "montserrat-Medium";
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;
background-color: #1C2647;
background: transparent;
border: none;
border-bottom: 1px solid white
 ;

}
.enquireForm>input:focus-visible{
outline: none;}
.enquireForm>input::placeholder{
    color: white;
}
.enquireForm>button{
    width: 157px;
height: 50px;
opacity: 1;
border-radius: 50px;
font-family: "montserrat-Medium";
font-weight: 500;
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
border: none;
background-color: #FF8C27;
margin-top: 2rem;
/* color: white; */



}