.enquiery{
    position: relative;
    background-color: #1C2647;
    border-radius: 0px 300px 0px 420px;
    
    /* padding-top: 2rem; */
    padding-bottom: 2rem;
    display: flex;

}
.enquiery .sideImg{
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 0% 0% 0% 34%

    
;
}
.mainEnquiryDiv{
    display: flex;
    gap: 3em;
    min-height: 681px;
}
.emtyDivEnquiry{
    width: 50%;
    flex: 1;
}


.enquireFormContaner{
    display: flex;
    flex: 1;
    width: 50%;
    color: white;
     justify-content: space-around;
     padding-top:5rem ;
     height: 100%;
}
.enquireForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 0px;
}
.enquireForm>h1{
    
  font-family: "montserrat-Bold";
  font-weight: 700;
  font-size: 35px;
  color: #FFFFFF;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin: 2px 2px;
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
  text-underline-offset: 12px;
}

.enquireForm>p{
    font-family: "montserrat-Medium";
font-weight: 500;
font-size: 19px;
line-height: 27px;
margin-top: 2rem;
letter-spacing: 0%;
text-align: left;
margin-bottom: 3rem;

}
.phoneNOenquire{
    width: 100%;
}
.enquireForm>input ,.phoneNOenquire>input{
    width: 100%;
    text-transform: uppercase;
    padding: 10px;
    font-family: "montserrat-Medium";
font-weight: 500;
margin: .45rem 0rem;
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;
background-color: #1C2647;
background: transparent;
border: none;
border-bottom: 1px solid white
 ;

}
.enquireForm>input:focus-visible{
outline: none;}
.phoneNOenquire>input:focus-visible{
    outline: none;
}
.phoneNOenquire>input::placeholder{
    color: white;
}
.enquireForm>input::placeholder{
    color: white;
}
.enquireForm>button{
    width: 157px;
height: 50px;
opacity: 1;
border-radius: 50px;
font-family: "montserrat-Medium";
font-weight: 500;
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
border: none;
background-color: #FF8C27;
margin-top: 2rem;
/* color: white; */



}


@media (max-width:991px) {
    
    .enquireForm>h1{
        font-size: 30px;
    }
    .enquireForm>p{
        font-size: 18px;
        line-height: 24px;
    }
    .enquireForm>input,.phoneNOenquire>input{
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width:767px){
    .enquiery{
        flex-direction: column;
    }
    .enquiery .sideImg{
        position: relative;
        height: 60%;
        border-radius: 0% 0% 0% 0%;
        width: 100%;
    }
    .mainEnquiryDiv{
        flex-direction: column;
    }
    .emtyDivEnquiry{
        display: none;
    }
    .enquireFormContaner{
        width: 100%;
        align-items: center;
        justify-content: center;
        /* margin: 2rem 3rem; */
        padding-top: 0rem;
    }
    .enquiery{
        padding-bottom: 2rem;
        border-radius:0%;
    }


} 