

.galleryContainer{
    background: url("./imhGallery/triangle-5466422\ 1\ \(1\).png");
    background-color:#1C2647;
    background-size: cover;
    background-repeat:no-repeat ;
     padding: 80px 0px ;

}


.gallery-images-list{
    /* padding: 40px 0px; */
    border-radius: 0px 230px;

}

.galleryTitle{
    
  font-family: "montserrat-Bold";
  font-weight: 700;
  font-size: 35px;
  color: #FF8C27;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin: 22px 12px;
  text-decoration: underline;
  text-decoration-color: #FF8C27;
  text-underline-offset: 12px;
  margin-bottom: 50px;
}
@media (max-width: 967px){


}
@media (max-width:767px) {
    .gallery-images-list{
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 10px !important;
    } 
        .gallery-Img-single-8{
        grid-column-end: span 2 !important ;
    }
    .gallery-images-list>li{
        width: 100%;
        height: 200px !important;
        grid-column-end: span  1!important;
        grid-row-end: span 1 !important;
    }
    .gallerySection{
        height: 340px;
        margin-bottom: 42rem;
        padding: 10px;

    }

}

@media (max-width:575px){
     .gallery-images-list>li{
        height: 170px !important;
        width: 100%;
     }
     .gallerySection{
        margin-bottom: 36rem;
     }
}