.termAndPolicy>h1{

font-family:"montserrat-Bold";
font-weight: 700;
font-size: 35px;
color: #FF8C27;
line-height: 39px;
letter-spacing: 0%;
text-align: center;
/* margin: 22px 32px; */
text-decoration: underline;
text-decoration-color:#FF8C27 ;
text-underline-offset: 5px;
margin-bottom: 50px;    
}
.termAndPolicy{
    margin-top: 8rem;
}
.termAndPolicy>p{
    font-family: "montserrat-Medium";
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2rem;
}
.termAndPolicy>h3{
    font-family: "montserrat-Bold";
    margin-bottom: 1rem;
    font-size: 25px;
}
@media (max-width:767px){
    .termAndPolicy>h1{
        font-size: 30px;
    }
    .termAndPolicy>h3
    {
        font-size: 20px;
    }
    .termAndPolicy>p{
        font-size: 15px;
        line-height: 20px;
    }
}