.AboutUs{
    margin: 90px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}
.btncontanier{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

}
.secoundContentHead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.secoundContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}
.upperContent{
    font-family: "montserrat-Medium";
font-size: 25px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;

}
.upperbtn1{
    width: 274px;
height: 50px;
border-radius: 50px;
font-family: "montserrat-Medium";
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
background: #DEE6FF;
border: none;

}
.upperbtn2{
     border: 0.45px solid black;
    width: 274px;
height: 50px;
border-radius: 50px;
font-family: "montserrat-Medium";
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;

}



.contant{
    display: flex;
    flex-direction: column;
 justify-content: center;
 /* align-items: center; */
 gap: 15px;
 width: 50%;
}
.subContainer{
    display: flex;
    justify-content: center;
    gap: 50px
}
.mainHading{
    font-family: "montserrat-Bold";
font-size: 35px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
color:  #FF8C27;


}
.line{
    width: 331.00000000000125px;
height: 0px;
opacity: 1;
position: relative;
top: -12px;
border: 2px solid #FF8C27}

.imgDivSet{
    display: flex;
    position: relative;
width: 50%;
/* height: 460px; */
/* overflow: hidden; */
}
.imgCountainer{
    width: 100%;
height: fit-content;
border-radius: 25px;
position: relative;
}
.imgCountainer>img{
    width: 100%;
}
.ematyDiv{
    width: 100%;
    height: 100%;
/* height: 94%; */
opacity: 1;
border-radius: 25px;
border-width: 2px;
border: 2px solid #FF8C27;
background: transparent;
position: absolute;
top: 5%;
left: 5%;


}


.contantHead{
    font-family: "montserrat-Medium";
font-size: 30px;
line-height: 32px;
letter-spacing: 0%;
color: #FF8C27;
}


.contantdata{
        font-family: "montserrat-Medium";
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;

}
.subContantData{
            font-family: "montserrat-Medium";
font-size: 18px;
line-height: 22px;
letter-spacing: 0%;


}

.contantbtn{
    width: 157px;
height: 50px;
border: none;
border-radius: 50px;
font-family: "montserrat-Medium";
font-size: 16px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
 background: #DEE6FF;
}

@media (max-width:1200px) {
    .imgDivSet{
        align-items: center;
    }
    .imgCountainer{
        top: 10%;
        height: fit-content;
    }
    .ematyDiv{
        height: 100%;
    }
}

@media (max-width:991px){
    .AboutUs{
        margin: 57px 0px;
    }
    .secoundContent{
        gap: 10px;
    }
    .contant{
        justify-content: start;
    }
    .imgDivSet{
        align-items: center;

        /* height: max-content; */
    }
    .imgCountainer{
        top: 5%;
    }
 .contantHead{
        font-size: 30px;
}
.contantdata{
    font-size: 18px;
    line-height: 26px;
}
.subContantData{
    font-size: 18px;
    line-height: 22px;
}


.subContainer{
    align-items: center;
}
.mainHading{font-size: 25px;
    line-height: 15px;
    font-size: 32px;
}
.line{
    width: 50%;
}
.upperContent{
        font-size: 18px;
    line-height: 25px;
}
.upperbtn1 , .upperbtn2{
    width: 240px;
    height: 40px;
    font-size: 14px;
}
.upperbtn2{
    font-size: 14px;
}
}
@media (max-width:767px) {
    .subContainer{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .imgCountainer{
        position: relative;
        width: 100%;
        height: fit-content;
    }
    .ematyDiv{
        position: absolute;
        /* top: 40px; */
        height: 100%;
    }
    .line{
        width: 70%;
    }
    .imgDivSet{
        width: 100%;
    }
    .contant{
        display: flex;
        width: 100%;
    }
    .contantHead{
        font-size: 30px;
        line-height: 35px;
    }
    .contantdata,.subContantData{
        font-size: 18px;
        line-height: 25px;
    }
    .contantbtn{
        width: 150px;
        height: 40px;
        font-size: 15px;
        line-height: 15px;
    }    .subContainer{
        gap: 70px;
    }
    
}
@media (max-width:575px) {

    .imgCountainer>img{
        width: 95%;
    }

    .imgCountainer{
       /* margin-left:7%; */
    }
 .ematyDiv{
    width: 95%;
    /* left: 50px; */
 }
}

@media (max-width:495px){
    .ematyDiv{
       top: 5%;
       left: 5%;

    }
    .btncontanier{
        flex-direction: column;
        align-items: center;
    }
    /* .upperContent{
    font-size: 16px;
    line-height: 20px;
}.upperbtn1, .upperbtn2{
    width: 165px;
    height: 35px;
    font-size: 11px;
} */

.contantHead{
    font-size: 22px;
    line-height: 28px;
}
.contantdata, .subContantData, .upperContent{
    font-size: 15px;
    line-height: 20px;
}
} 





















.upperbtn1:hover{
    background: #FAFBFF;
    border: .45px solid black;
}
.upperbtn2:hover{
    background-color: #DEE6FF;
    border: none;
}
.contantbtn:hover{
    background: #FAFBFF;
        border: .45px solid black;

}