.outer>h2{
font-family:"montserrat-Bold";
font-weight: 700;
font-size: 35px;
color: #FF8C27;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
margin: 22px 12px;
text-decoration: underline;
text-decoration-color:#FF8C27 ;
text-underline-offset: 5px;
margin-bottom: 50px;

}
.back{
    background: #1C2647;
    background-image: url(./Foodimg/triangle-5466422\ 1.png);
    background-position: center;
    background-size: cover;
}
.main{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.Head{
    font-family: "montserrat-Bold";
font-weight: 700;
font-style: Bold;
font-size: 35px;
line-height: 37px;
letter-spacing: 0%;
text-align: start;

}
.First{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.btn{
    width: 293px;
height: 50px;
opacity: 1;
border-radius: 50px;
background: #FF8C27;
box-shadow: 0px 4px 4px 0px #0000000A;
font-family: "montserrat-Bold";
font-weight: 700;
font-size: 15px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
border: none;

}
.imgContainer{
    position: relative;
    top: 30px;
    width: 50%;
        display: flex;
        justify-content: end;
}

@media (max-width:991px){
    .outer>h2{
        font-size: 30px;
    }
    .Head{
        font-size:30px;
        text-align: start;
    }
    .First{
        margin-top: 30px;
        width: 50%;
        margin-bottom: 30px;
        gap: 14px;
    }
    .btn{
    width: 260px;
    height: 40px;
    }
    .imgContainer>img{
        width: 60%;
    }

}
@media (max-width:767px){

    .main{
        display: flex;
        flex-direction: column;
    }
    .First{
        width: 100%;
        gap: 20px;
    }
    .Head{
        font-size: 35px;
        line-height: 40px;
        width: 100%;
    }

.imgContainer>img{
    width: 100%;
}
.imgContainer{
    top: 40px;
}

}
@media (max-width:575px){
    .First{
        gap: 20px;
        margin: 20px 0px;
    }
    .Head{
        font-size: 34px;
    }
}
@media (max-Width:460px){

}


.btn:hover{
    background-color: #DEE6FF;
  border: .7px black solid;

}